<div id="waveform-<%= track.id %>" audio-source="<%= track.audio.url %>">
  Track by <%= track.user.name %>
  <br>
 <!--Displays avatar of the user who uploaded the track-->
 <%= link_to image_tag(track.user.avatar_url, size: "32x32"), user_path(track.user)  %>

<% if current_user.nil? %>

<% elsif current_user.id == track.project.user.id || current_user.id == track.user.id%>
  <div align="right">
  <%= link_to content_tag(:i, nil, class: 'fa fa-trash'), nil, class: 'track-delete-btn btn btn-border-d btn-round', id: track.id %>
  </div>
<% end %>

</div>