<div id="waveform-<%= track.id %>" audio-source="<%= track.audio.url %>">
  Uploaded by <%= track.user.name %>
  <br>
 <!--Displays avatar of the user who uploaded the track-->
<a href=<%= "#{user_path(current_user)}" %>><img src="<%= track.user.avatar_url %>"</a>

<% if current_user.nil? %>

<% elsif current_user.id == track.project.user.id || current_user.id == track.user.id%>
  <%= button_to "Delete", "/tracks/#{track.id}", method: 'delete', class: 'track-delete-btn', id: track.id %>
<% end %>

</div>