<%= form_for User.new do |f| %>
	<%= f.text_field :name, class: 'form-control', placeholder: 'Name' %><br>
	<%= f.text_field :email, class: 'form-control', placeholder: 'Email'  %><br>
	<h5 class="font-alt mb-0">Primary Instrument
	<%= f.select :primary_instrument, options_for_select(User.instruments) %></h5><br>
	<%= f.password_field :password, class: 'form-control', placeholder: 'Password'  %><br>
	<%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password'  %><br>
	<%= f.submit "Sign Up", class: "btn btn-g btn-round btn-block" %><br>
<% end %>

