<section class="module-small bg-dark bg-dark-30" data-background="assets/images/section-8.jpg" style="background-image: url(file:///Users/ericfries/Desktop/Rival-v1.4/Site/assets/images/section-8.jpg);">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">

						<h1 class="module-title font-alt">Projects by <%= @user.name %></h1>

					</div>

				</div><!-- .row -->

			</div>
		</section>

<section class="module">
			<div class="container">

				<div class="row">

					<!-- Content column start -->
					<div class="col-sm-8">

						<!-- Post text only start -->
						<div class="post">

						<% @projects.reverse.each do |project| %>


							<div class="post-header font-alt">
								<h2 class="post-title">
								<%= link_to project.name, project  %></h2>
								<div class="post-meta">
									By <a href="#"><%= project.user.name %></a> | <%= project.created_at.to_date %> | <%= project.comments.count %> Comments
								</div>
							</div>

							<div class="post-entry">
								<p><%= project.description %></p>
							</div>
						</div>
						<!-- Post text only end -->
					<% end  %>

						
<% if current_user == @user %>
	<h2>Set Primary Instrument</h2>
	<%= form_for @user, :method => :patch do |f| %>

		<%= f.label :primary_instrument %>
		<%= f.select :primary_instrument, options_for_select(@instruments), :selected => @user.primary_instrument %><br>
		<%= f.submit "Set Instrument" %>
	<% end %>


<% end %>