<div class="col-sm-3">
	<div class="widget">
		<h5 class="widget-title font-alt">Add Metronome Track</h5>
		<p>Want a rhythm guide? Click on one of these buttons to add a metronome track to the project. You can always delete it later.</p>

		<center>
			<%= button_to "90 BPM", "/tracks", method: 'post', params: {tempo: 90, project_id: @project.id}, class: 'btn btn-g btn-round btn-block', :remote => true%><br>
			<%= button_to "120 BPM", "/tracks", method: 'post', params: {tempo: 120, project_id: @project.id}, class: 'btn btn-g btn-round btn-block', :remote => true%><br>
			<%= button_to "140 BPM", "/tracks", method: 'post', params: {tempo: 140, project_id: @project.id}, class: 'btn btn-g btn-round btn-block', :remote => true%><br>
		</center>
	</div>
</div>

<div class="col-sm-3">
	<div class="widget">
		<h5 class="widget-title font-alt">Complete Project</h5>
		<p class="not-completed-guide">A completed project is locked, and can no longer be edited by others.</p>
		<p class="is-completed-guide">You marked this project as completed.<br>To allow collaboration again, click this button!</p>
	<% if !@project.completed %>
		<!-- IF PROJECT IS NOT COMPLETED -->
		<center><%= button_to "Mark project completed", "/projects/#{@project.id}", method: 'patch', params: {completed: :true}, class: 'project-complete-btn btn btn-g btn-round btn-block', id: @project.id, :form => { :id => "collab-btn" } %></center>
	<% else %>
		<!-- IF PROJECT IS COMPLETED -->
		<center><%= button_to "Open project for collaboration", "/projects/#{@project.id}", method: 'patch', params: {completed: :false}, class: 'project-complete-btn btn btn-g btn-round btn-block', id: @project.id, :form => { :id => "collab-btn" } %></center>
	<% end %>
	</div>
</div>

<div class="col-sm-3">
	<div class="widget">
		<h5 class="widget-title font-alt">Collaboration</h5>

		<p class="not-completed-guide">Want some help? Invite others to collaborate!</p>
		<p class="is-completed-guide">A project must be open for others to collaborate.</p>
			
		<div id="instrument-need-checkbox">
			<ul class="icon-list">
				<%= form_for @instrument_need, url: instrument_need_path, :method => :patch do |f| %>
				<li><%= f.check_box :guitar %> <%= f.label :guitar %></li>
				<li><%= f.check_box :bass %> <%= f.label :bass %></li>
				<li><%= f.check_box :drums %> <%= f.label :drums %></li>
				<li><%= f.check_box :keyboards %> <%= f.label :keyboards %></li>
				<li><%= f.check_box :saxophone %> <%= f.label :saxophone %></li>
				<li><%= f.check_box :vocals %> <%= f.label :vocals %></li>
				<li><%= f.hidden_field :project_id, :value => @project.id %></li>
				<center><%= f.submit "Invite", class: "btn btn-g btn-round btn-block" %></center>
			</ul>
		</div>
	</div>
	<% end %>
</div>

<div class="col-sm-3">
	<div class="widget">
		<h5 class="widget-title font-alt">Delete this project</h5>

		<% if current_user && project_owner? %>
		<p>
			Deleting a project will also remove all of its recorded tracks. This can't be undone!
			</p>
	  <center><%= button_to "Delete this project", "/projects/#{@project.id}", method: 'delete', class: 'project-delete-btn btn btn-block btn-danger btn-round', id: @project.id %></center>
<% end %>
	</div>
</div>