<% if !@project.completed %>
	<!-- IF PROJECT IS NOT COMPLETED -->

	<%= button_to "Mark project completed", "/projects/#{@project.id}", method: 'patch', params: {completed: :true}, class: 'project-complete-btn btn btn-d btn-round btn-lg', id: @project.id, :form => { :id => "collab-btn" } %>


<% else %>
	<!-- IF PROJECT IS COMPLETED -->

	<%= button_to "Open project for collaboration", "/projects/#{@project.id}", method: 'patch', params: {completed: :false}, class: 'project-complete-btn btn btn-d btn-round btn-lg', id: @project.id, :form => { :id => "collab-btn" } %>

<% end %>

<div id="instrument-need-checkbox">
	<p>I'm looking for...</p>
		<%= form_for @instrument_need, url: instrument_need_path, :method => :patch do |f| %>
		<%= f.label :guitar %>
		<%= f.check_box :guitar %>
		<%= f.label :bass %>
		<%= f.check_box :bass %>
		<%= f.label :drums %>
		<%= f.check_box :drums %>
		<%= f.label :keyboards %>
		<%= f.check_box :keyboards %>
		<%= f.hidden_field :project_id, :value => @project.id %>
		<%= f.submit "Save", class: "btn btn-d btn-round btn-sm" %>
<% end %>


</div>
