<%= include_gon %>

<center>
<h1><%=@project.name  %></h1>
</p><%=@project.description  %></p>

<% if current_user && project_owner? %>
	<% if !@project.completed %>
		<%= button_to "Project Complete", "/projects/#{@project.id}", method: 'patch', params: {completed: :true}, class: 'project-complete-btn', id: @project.id, :form => { :id => "delete-project" } %>
	<% else %>
		<%= button_to "Allow Collaboration", "/projects/#{@project.id}", method: 'patch', params: {completed: :false}, class: 'project-complete-btn', id: @project.id, :form => { :id => "delete-project" } %>
	<% end %>
<% end %>

</center>
<div id="mic-visualizer">

</div>

<center>

<% if current_user %>
	<div id="controls">
	  <button id="recorderStart">Record</button>
	  <!-- <button id="recorderStop">Stop</button> -->
	</div>
<% end %>

<button id="playAll">Play All!</button>

</center>

<div id="all-tracks">

  <%= render partial: "tracks/track", collection: @tracks %>

</div>
<br>

<center>

<% if current_user && project_owner? %>
  <%= button_to "Delete this project", "/projects/#{@project.id}", method: 'delete', class: 'project-delete-btn', id: @project.id %>
<% end %>


<br>
<br>
<div>
COMMENT SECTION HERE
</div>


<%= form_for [@project, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control col-lg-8", placeholder: "Provide comment here." %>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Leave Comment" %>
  </div>
<% end %>
</div>

 <!-- :remote => true -->
<br>
 <%= render @project.comments.reverse %>