<%= include_gon %>

<center>
<h1><%=@project.name  %></h1>
</p><%=@project.description  %></p>

<% if current_user && project_owner? %>
	<% if !@project.completed %>
		<%= button_to "Project Complete", "/projects/#{@project.id}", method: 'patch', params: {completed: :true}, class: 'project-complete-btn', id: @project.id, :form => { :id => "collab-btn" } %>
	<% else %>
		<%= button_to "Allow Collaboration", "/projects/#{@project.id}", method: 'patch', params: {completed: :false}, class: 'project-complete-btn', id: @project.id, :form => { :id => "collab-btn" } %>
	<% end %>
<% end %>

</center>
<div id="mic-visualizer">

</div>

<center>

<% if current_user %>
	<div id="controls">
	  <button id="recorderStart">Record</button>
	  <!-- <button id="recorderStop">Stop</button> -->
	</div>
<% end %>

<button id="playAll">Play All!</button>

</center>

<div id="all-tracks">

  <%= render partial: "tracks/track", collection: @tracks %>
</div>

<center>

<% if current_user && project_owner? %>
  <%= button_to "Delete this project", "/projects/#{@project.id}", method: 'delete', class: 'project-delete-btn', id: @project.id %>
<% end %>
