<%= include_gon %>

<div class="main">
	<section class="module-small bg-dark bg-dark-40" data-background="assets/images/section-8.jpg">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-sm-offset-3">


						<h1 class="module-title font-alt"><%=@project.name  %></h1>
						<div class="module-subtitle font-serif mb-0"><%=@project.description %></div>
					</div>
				</div><!-- .row -->
				<div class="row">
				</div>
			</div>
		</section>
</div>

<div id="mic-visualizer">

</div>

<% if current_user %>
	<div id="controls">
		<center>

	  <button type="button" id="recorderStart" class="btn btn-danger btn-round btn-long"><i class="fa fa-circle"></i> Record</button>

	  <button type="button" id="playAll" class="btn btn-success btn-round btn-long"><i class="fa fa-play"></i> Play All</button>
	</div>
<% end %>

<div id="all-tracks">

  <%= render partial: "tracks/track", collection: @tracks %>

</div>
<br>

<!-- COMMENTS -->
<section class="module">
	<div class="container">
		<div class="row comment-input">
			<div class="col-sm-8 col-sm-offset-2">
				<% if current_user %>
					<%= form_for [@project, Comment.new], :remote => true do |f| %>
	  				<div class="field">
					    <%= f.text_area :body, class: "form-control col-lg-8", placeholder: "Provide comment here." %>
					    <%= f.hidden_field :project_id, :value => @project.id %>
					    <%= f.hidden_field :user_id, :value => current_user.id %>
	  				</div>
					  <div class="actions">
					    <%= f.submit "Leave Comment", class:'btn btn-g btn-round btn-block' %>
					  </div>
				<% end %>
				 </div>
			<% end %>
			</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div id="comment-count">
					<h4 class="font-alt mb-0">
						<a href="javascript:void(0);"><%= "#{@project.comments.count} comments" %></a>
					</h4>
				</div>
				<hr class="divider-w mt-10 mb-20">
				<div id="comments">
					<%= render @project.comments %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="module-small bg-dark">
	<div class="container">
		<div class="row">
			<% if current_user && project_owner? %>
				<%= render 'options' %>
			<% end %>
		</div><!-- .row -->
	</div>
</div>

<script>
	completedCheck();
</script>