<%= include_gon %>

<center>
<h1><%=@project.name  %></h1>
</p><%=@project.description  %></p>


<% if !@project.completed %>
	<%= button_to "Project Complete", "/projects/#{@project.id}", method: 'patch', params: {completed: :true}, class: 'project-complete-btn', id: @project.id %>
<% else %>
	<%= button_to "Allow Collaboration", "/projects/#{@project.id}", method: 'patch', params: {completed: :false}, class: 'project-complete-btn', id: @project.id %>
<% end %>

</center>
<div id="mic-visualizer">

</div>

<center>

<div id="controls">
  <button id="recorderStart">Record</button>
  <!-- <button id="recorderStop">Stop</button> -->
</div>

<button id="playAll">Play All!</button>

</center>

<div id="all-tracks">

  <%= render partial: "tracks/track", collection: @tracks %>
</div>

<center>
<% if current_user.nil?  %>
<% elsif current_user.id == @project.user.id %>
  <%= button_to "Delete this project", "/projects/#{@project.id}", method: 'delete', class: 'project-delete-btn', id: @project.id %>
<% end %>
